{{ define "main"}}
<nav id="navbar">
  <ul class="navbar">
    <li><a class="navLi" href="/">Home</a></li>
  </ul>
</nav>
<div class="pageBody">
  <h1 class="projectTitle">{{ .Title }}</h1>
  <div class="repoLinks">
    {{ if .Param "repo_link" }}
    <!-- repo link -->
    <a
      class="repoLink"
      href="{{ .Params.repo_link }}"
      target="_blank"
      rel="noopener noreferrer"
      >{{.Params.repo}}</a
    >
    {{ end }} {{ if .Param "deployed_link" }}
    <!-- deployed link -->
    <a
      class="repoLink"
      href="{{ .Params.deployed_link }}"
      target="_blank"
      rel="noopener noreferrer"
      >{{.Params.deployed}}</a
    >
    {{ end }}
  </div>
  <!-- date -->
  {{ if not .Date.IsZero }} {{ $singlePageDateFormat :=
  .Site.Params.singlePageDateFormat | default "January 2, 2006"}}
  <p class="date">{{ .Date.Format $singlePageDateFormat }}</p>
  {{ end }}
  <br />
  {{ if .Param "featured_image_on_page"}}
  <!-- featured image -->
  <img class="pageGif" src="{{ .Params.featured_gif }}" />
  {{ end }}
  <!-- tags -->
  {{ if .Param "tags" }}
  <div id="tags">
    <ul>
      {{ range .Param "tags" }} {{ $name := . }} {{ with $.Site.GetPage (printf
      "/tags/%s" ($name | urlize)) }}
      <li>
        <a href="{{ .Permalink }}" style="pointer-events: none">{{ $name }}</a>
      </li>
      {{ end }} {{ end }}
    </ul>
  </div>
  {{ end }}
  <!-- content -->
  <div id="contentBody">{{ .Content }}</div>
</div>
{{ partial "footer.html" . }}
<script src="homeNavbar.js"></script>
{{ end }}
