<div>
  <div>
    <h5>
      <a
        href="/resume/"
        target="_blank"
        rel="noopener noreferrer"
        style="text-decoration: none"
        onmouseover="this.style.color='blue';"
        onmouseout="this.style.color='gray';"
      >
        view resume</a
      >
    </h5>
  </div>
  <div class="headerContacts">
    <a
      href="https://gitlab.com/Junella"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="headerContact headerRepoLink"
        src="/images/icons/contacts/gitlab.png"
        alt="gitlab"
      />
    </a>
    <a
      href="https://www.linkedin.com/in/junella-caringal/"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="headerContact"
        src="/images/icons/contacts/linkedin.png"
        alt="linkedin"
      />
    </a>
    <a
      href="https://github.com/Junnanella"
      target="_blank"
      rel="noopener noreferrer"
    >
      <img
        class="headerContact headerRepoLink"
        src="/images/icons/contacts/github.png"
        alt="github"
      />
    </a>
  </div>
</div>
