{{ $projects := where .Site.Pages "Params.featured" "==" true }}

{{ range $index, $project := $projects }}
<a class="contentLink" href="{{ .RelPermalink }}">
    <div class="row project">
        <div class="col-md-6 col-sm-12 parent">
            <img class="play-overlay"src="/images/icons/play-button.png" alt="hover to play">
            <img class="featuredImage" src="{{ .Params.featured_image }}" onmouseover='this.src="{{ .Params.featured_gif }}"' onmouseout='this.src="{{ .Params.featured_image }}"'>   
        </div>
        <div class="col-md-6 col-sm-12 projectInfo projectBlurb">
            <h3 class="projectInfo projectTitle">{{ $project.Title }}</h3>
            <ul>
                <li class="projectBlurbMarker">
                    <p class="projectBlurb">Role: {{ .Params.role }}</p>
                </li>
                <li class="projectBlurbMarker">
                    <p class="projectBlurb projectBlurbTechnology">Technology Highlights: {{ .Params.technology }}</p>
                </li>
                {{ if .Params.industry }}
                <li class="projectBlurbMarker">
                    <p class="projectBlurb">Industry: {{ .Params.industry }}</p>
                </li>
                {{ end }}
                <!-- <li class="projectBlurbMarker">
                    <p class="projectBlurb">Impact: {{ .Params.impact}}</p>
                </li> -->
            </ul>
        </div>
    </div>
</a>
{{ end }}


