<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body>
    <!-- contact me link -->
    <!-- {{- partial "hire_me_nav.html" . -}}  -->
    <div class="main">
      <div id="profileContainer">
        <div id="profile">
          <header class="mainPageHeader">
            <!-- avator -->
            <div class="avatar">
              <img
                class="avatarMask"
                src="/img/{{ .Site.Params.avatar }}"
                alt="{{ .Site.Params.avatarDescription }}"
              />
              <img src="/img/avatar-border.svg" class="avatar-border" alt="" />
            </div>
            <!-- author -->
            <h1 class="author">{{ .Site.Params.Author }}</h1>
            {{- partial "header_contacts.html" . -}}
          </header>
          <!-- description -->
          <p class="description">{{ .Site.Params.description | safeHTML }}</p>
          {{- partial "programmingLanguages.html"}}
        </div>
      </div>
      <!-- projects -->
      <div class="projectsContainer">
        <a id="projectsHeader"
          ><h2 class="projects projectHeader">Projects</h2></a
        >
        <div class="projects mainPageContent">
          {{- partial "projectList.html" . -}}
        </div>
      </div>
      <!-- additional experience -->
      <div class="additionalContainer">
        <a id="additionalExperienceHeader"
          ><h2 class="projects additionalHeader">Additional Experience</h2></a
        >
        <div class="additionals mainPageContent">
          {{- partial "additionalExpList.html" . -}}
        </div>
      </div>
      <!-- contact information -->
      <div class="contactsContainer">
        <a id="contactInfo">
          <div class="contactDiv">
            <h2 class="contactHeader">Contact Information</h2>
          </div>
          <div class="contactDiv">
            <h4 class="contactMessage">
              Reach out for a chat or check out additional content via the links
              below
            </h4>
            <nav>
              <ul class="contactNav">
                {{ range .Site.Menus.main }}
                <li>
                  <a
                    href="{{ .URL }}"
                    aria-label="{{ .Identifier }}"
                    target="_blank"
                    >{{ .Pre }}<br />{{ .Name }}</a
                  >
                </li>
                {{ end }}
              </ul>
            </nav>
          </div>
        </a>
      </div>
      <br class="mainPageContentSpacing" />
      {{- partial "footer.html" . -}}
    </div>
    <!-- </div>
    <a href="/partials/credits.html">Credits</a>
  </div> -->
  </body>
</html>
